[submodule "src/Sdl3Sharp.SourceGeneration"]
	path = src/Sdl3Sharp.SourceGeneration
	url = git@github.com:fruediger/Sdl3Sharp.SourceGeneration.git
[submodule "make.cs"]
	path = make.cs
	url = git@github.com:fruediger/make.cs.git
[submodule "assets"]
	path = assets
	url = git@github.com:fruediger/Sdl3Sharp-assets.git
